---
const today = new Date();

import XIcon from '~icons/simple-icons/x';
import GithubIcon from '~icons/simple-icons/github';
import LinkedInIcon from '~icons/simple-icons/linkedin';
import AstroIcon from '~icons/simple-icons/astro';
---

<footer>
	<div class="flex justify-center w-full">
		&copy; {today.getFullYear()} Nicolas Goldack. All rights reserved.
		Created with
		<a href="https://astro.build" class="flex items-center pl-1"><AstroIcon class="text-sm" /></a>
	</div>
	<div class="social-links">
		<a href="https://twitter.com/nicolas_goldack" target="_blank">
			<span class="sr-only">Follow nicolas on twitter</span>
			<XIcon />
		</a>
		<a href="https://github.com/ngoldack" target="_blank">
			<span class="sr-only">Nicolas' github page</span>
			<GithubIcon />
		</a>
		<a href="https://www.linkedin.com/in/nicolas-goldack/" target="_blank">
			<span class="sr-only">Nicolas' linkedin page</span>
			<LinkedInIcon />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
